<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Cache-Control" content="no-store, must-revalidate" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" href="/assets/fonts/builder/stylesheet.css" type="text/css">

    <title>RDC24</title>

    <style>
      body > * {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      }
      .fill {
        height: 1920px; 
        width: 1080px;
        overflow: hidden;
        background-color: black;
        background-size: contain;
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body class="fill">
    <div id="app"></div>
  </body>
</html>
