<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">

	<meta http-equiv="Cache-Control" content="no-store, must-revalidate" />
	<meta http-equiv="Expires" content="0" />

    <title>OIF Vancouver</title>

    <script>
      (function() {
        var config = {
          kitId: 'tde8ron'
        };
        var d = false;
        var tk = document.createElement('script');
        tk.src = '//use.typekit.net/' + config.kitId + '.js';
        tk.type = 'text/javascript';
        tk.async = 'true';
        tk.onload = tk.onreadystatechange = function() {
          var rs = this.readyState;
          if (d || rs && rs != 'complete' && rs != 'loaded') return;
          d = true;
          try { Typekit.load(config); } catch (e) {}
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(tk, s);
      })();
    </script>
    
    <style>
      body > * {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      }
      .fill {
        height: 1920px; 
        width: 1080px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #000;        
      }
    </style>
  </head>
  <body class="fill">
    <div id="app"></div>
  </body>
</html>
