<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="Cache-Control" content="no-store, must-revalidate" />
  <meta http-equiv="Expires" content="0" />

  <title>os-signage</title>

  <link rel="stylesheet" href="assets/css/theme.css" type="text/css">
  <style>
    .fill {
      min-height: 100vh;
      height: 100%;
      background: url(assets/images/opendev-background.svg) center bottom;
      background-size: cover;
    }
    .fill pre {
      color: white;
    }
  </style>
</head>
<body class="fill">
<div id="app"></div>
<script src="/dist/manifest.build.js"></script>
<script src="/dist/commons.build.js"></script>
<script src="/dist/opendev-schedule.build.js"></script>
</body>
</html>
