export const API_URL = ''
export const API_VERSION = 'v1'

export const TIME_URL = 'https://timeintervalsince1970.appspot.com'

export const FIREBASE_API_KEY = ''
export const FIREBASE_PROJECT_ID = ''
export const FIREBASE_DATABASE_URL = ''
